/* @import "tailwindcss"; */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background: #1f1e1e;
  color: white;
}


.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  max-width: 700px;
}


h1{
  font-size: 35px;
}

.star{
  color: red;
}

h2{
  font-size: 20px;
  margin-right: 90px;
  text-align: center;
  width: 100%;
  color: rgb(0, 255, 0);
}

label{
  font-size: 20px;
}

p{
  color: rgb(255, 0, 0);
  font-size: 14px;
  font:bold
}

.submit-box{
  width: 80%;
  margin: 0 auto;
}

input, textarea{
  display: block;
  margin-top: 8px;
  
  padding: 9px;
  width:100%;
  font-size: 18px;
  margin-right: 25px;
  border-radius: 10px;
}

.input-box{
  margin-bottom: 15px;

}

button{
  display: block;
  color: white;
  margin: 15px 0px;
  width:100%;
  border: none;
  padding: 10px;
  font-size: 18px;
  background: #5324d4;
  transition: all 200ms;
  border-radius: 10px;
}


button:hover{
  color: white;
  background: #4119b1;
  cursor: pointer;
  
}
